%h1 Sign in

= form_for(:session, :url => sessions_path) do |f|
  .field
    = f.label :email
    %br
    = f.text_field :email
  .field
    = f.label :password
    %br
    = f.password_field :password
  .actions
    = f.submit "Sign in"
%p
  New user?
  = link_to "Sign up now!", signup_path