.field
  = f.label :name
  %br
  = f.text_field :name
.field
  = f.label :email
  %br
  = f.text_field :email
.field
  = f.label :password
  %br
  = f.password_field :password
.field
  = f.label :password_confirmation, "Confirmation"
  %br
  = f.password_field :password_confirmation
